{% extends 'header.html' %}
{% load static %}
{% block content %}



<section class="form-container">

   <form action="{% url 'changepassword' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Current password</p>
      <input type="password" name="current_pass" placeholder="enter your old password" maxlength="20" class="box">
      <p>new password</p>
      <input type="password" name="new_pass" placeholder="enter new password" maxlength="20" class="box">
      <p>confirm password</p>
      <input type="password" name="c_pass" placeholder="confirm your new password" maxlength="20" class="box">
      <br>
      <input type="submit" value="update password" name="submit" class="btn">
   </form>

</section>


{% endblock %}













<footer class="footer">

   &copy; copyright @ 2024 by <span>Home Shifting</span> | all rights reserved!

</footer>

<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>