{% extends 'header.html' %}
{% load static %}
{% block content %}



<section class="form-container">

   <form action="{% url 'update' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>update profile</h3>
      <p>update name</p>
      <input type="text" name="name" placeholder=" Enter your name" maxlength="50" class="box" value="{{request.session.tname}}">
      <p>update Mobile Number</p>
      <input type="text" name="number" placeholder="Enter your contact Number" class="box" value="{{request.session.tcontact}}">
      <p>update Profile picture</p>
      <input type="file" name="picture" class="box">
      <br>
      <input type="submit" value="update profile" name="submit" class="btn">
      <br>
      <a href="{% url 'changepassword' %}"><h2 style="text-align: center;">Change password ?</h2></a>
   </form>      

</section>


{% endblock %}













<footer class="footer">

   &copy; copyright @ 2024 by <span>Home Shifting</span> | all rights reserved!

</footer>

<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>