{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Shifting</title>

    <!--vendor css ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/vendor.css' %}">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--Bootstrap ================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Style Sheet ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css'%}">

    <!-- Google Fonts ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Raleway:wght@400;700&display=swap"
        rel="stylesheet">


    <!-- script ================================================== -->
    <script src="{% static 'myapp/js/modernizr.js' %}"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#header-nav" tabindex="0">
    <!--Header -->
    <nav class="navbar navbar-expand-lg  navbar-light container-fluid py-3 position-fixed ">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}"><img src="{% static 'myapp/images/hm.png' %}" alt="logo" style="height: 40px; width: 150px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav align-items-center justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active px-3" aria-current="page" href="{% url "home" %}">Home</a>
                        </li>
                       
                        <!-- <li class="nav-item">
                            <a class="nav-link px-3" href="index.html#services">Services</a>
                        </li>
                       -->
                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url "contact" %}">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url "tpackages" %}">Buy Packages</a>
                        </li>                        
                        

                    </ul>

                    <div class="d-flex mt-5 mt-lg-0 ps-xl-5 align-items-center justify-content-center ">
                        <ul class="navbar-nav justify-content-end align-items-center">
                            <li class="nav-item">
                                <a class="nav-link px-3" href="{% url "tlogin" %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                     sign up </a>
                            </li>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tabs-listing">
                                                <nav>
                                                    <div class="nav nav-tabs d-flex justify-content-center border-0"
                                                        id="nav-tab" role="tablist">
                                                         <button
                                                            class="btn btn-outline-primary text-uppercase me-3 active"
                                                            id="nav-sign-in-tab" data-bs-toggle="tab"
                                                            data-bs-target="#nav-sign-in" type="button" role="tab"
                                                            aria-controls="nav-sign-in" aria-selected="true">Sign up
                                                            </button> 
                                                        {% comment %} <button class="btn btn-outline-primary text-uppercase"
                                                            id="nav-register-tab" data-bs-toggle="tab"
                                                            data-bs-target="#nav-register" type="button" role="tab"
                                                            aria-controls="nav-register" aria-selected="false">Sign
                                                            Up</button> {% endcomment %}
                                                    </div>
                                                </nav>
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade active show" id="nav-sign-in"
                                                        role="tabpanel" aria-labelledby="nav-sign-in-tab">
                                                        {% comment %} <form id="form1" class="form-group flex-wrap p-3 ">
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail1"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Email
                                                                    Address</label>
                                                                <input type="text" id="exampleInputEmail1" name="email"
                                                                    placeholder="Email" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="inputPassword1"
                                                                    class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                                                <input type="password" id="inputPassword1"
                                                                    placeholder="Password" class="form-control ps-3"
                                                                    aria-describedby="passwordHelpBlock">
                                                                <div id="passwordHelpBlock"
                                                                    class="form-text text-center">
                                                                    <a href="#" class=" password">Forgot Password ?</a>
                                                                </div>

                                                            </div>
                                                            <label class="py-3">
                                                                <input type="checkbox" required="" class="d-inline">
                                                                <span class="label-body text-black">Remember Me</span>
                                                            </label>
                                                            <div class="d-grid my-3">
                                                                <button
                                                                    class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">Log
                                                                    In</button>
                                                            </div>
                                                        </form> {% endcomment %}
                                                        <form id="form2" class="form-group flex-wrap p-3 " method="post" action="{% url 'tsignup' %}">
                                                            {% csrf_token %}
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Name
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="name"
                                                                    placeholder="Name" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Aadhaar Number
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="adhaar"
                                                                    placeholder="Enter Aadhaar Number" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Pan card  Number
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="pan"
                                                                    placeholder="Enter Pan Number" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black"> Driving Licence  Number
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="driving"
                                                                    placeholder="Enter Driving Licence Number" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black"> RC  Number
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="rcn"
                                                                    placeholder="Enter RC Book Number" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Contct Number
                                                                    </label>
                                                                <input type="number" id="exampleInputEmail2" name="contact"
                                                                    placeholder="Contact" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="exampleInputEmail2"
                                                                    class="form-label fs-6 text-uppercase fw-bold text-black">Email
                                                                </label>
                                                                <input type="text" id="exampleInputEmail2" name="email"
                                                                    placeholder="Enter your Email" class="form-control ps-3">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="inputPassword2"
                                                                    class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                                                <input type="password" id="inputPassword2"
                                                                    placeholder="Password" class="form-control ps-3"
                                                                    aria-describedby="passwordHelpBlock" name="password">
                                                            </div>
                                                            <div class="form-input col-lg-12 my-4">
                                                                <label for="inputPassword2"
                                                                    class="form-label  fs-6 text-uppercase fw-bold text-black">Confirm Password</label>
                                                                <input type="password" id="inputPassword2"
                                                                    placeholder=" Enter confirm Password" class="form-control ps-3"
                                                                    aria-describedby="passwordHelpBlock" name="cpassword">
                                                            </div>
                                                           
                                                           
                                                            <div class="d-grid my-3">
                                                                <button
                                                                    class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">Sign
                                                                    Up</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                       
                        <!-- Modal -->
                      
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <section id="hero" class=" position-relative overflow-hidden">
        <div class="pattern-overlay pattern-right position-absolute">
            <img src="{% static 'myapp/images/hero-pattern-right.png'%}" alt="pattern">
        </div>
        <div class="pattern-overlay pattern-left position-absolute">
            <img src="{% static 'myapp/images/hero-pattern-left.png'%}" alt="pattern">
        </div>
        <div class="hero-content container text-center">
            <div class="row">
                <div class="detail mb-">
                    <h1 class="">Attach  your <span class="text-primary">Vehical  </span> </h1>
                    
                </div>
            </div>
        </div>
    </section>
    
 <!-- faq section start  -->
 <section id="faq">

    <div class="container my-5 py-5 ">
        <h2 class=" text-center my-5">FREQUENTLY ASKED  <span class="text-primary">QUESTIONS</span> </h2>


        <div class="accordion col-md-8 offset-md-2" id="accordionPanelsStayOpenExample">

            <div class="accordion-item mt-3">
                <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        How to attach  vehicle in Home Shifting?
                    </button>
                </h5>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p><b>Becoming a Home Shifting partner and attaching your Vehical with us is a very easy process. You can do it with three easy steps from the comfort of your home!</b>
                            
                        <br>1. Open Home Shifting  Website go to Delivery Partners Page
                        <br>2. Register with us and submit all your documents within the website
                        <br>3. Once the documents are verified Then
                        <br>You will start getting trips immediately.
                        
            
                        </p>

                    </div>
                </div>
            </div>
            
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        What documents and permits do I need to on-board Home Shifting?                    
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <p>For commercial vehicle attachment following documents are required: Owner/Driver documents : Driving License | RC Number | Aadhaar card | PAN card | Bank Details | Address Proof.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Is there any registration fee to join Home Shifting?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <p>Home Shifting charges nominal fees at the time of on-boarding for vehicle attachment. Fee varies as per the
                            Packages.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        How much you can earn per week?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <p>Your earnings are dependent on the time you spend on Home Shifting platform And As Per Package.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        How I can check my earning & payouts?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <p>Home Shifting has a Earning Wallets After Compleating a Trip Payment Will creadit in to the 
                            Wallet and Driver Can Withdraw After Compleating a Package.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingsix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsesix">
                        Will I be charged anything if I cancel the trip?           
                   </button>
                </h2>
                <div id="panelsStayOpen-collapsesix" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingsix">
                    <div class="accordion-body">
                        <p>IF Canceled 20 minutes before Arrival So 100% Refund and IF There is Less Then 20 minutes Time To Reach and Cancel then 80% Refund.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
       

    </div>
</section>



 <!-- services section start  -->
 <section id="services">

    <div class="container  py-5 my-5">
        <div class="row py-5 ">
            <div class=" pb-5  col-10 col-sm-8 col-lg-6">
                <h2 class="">See <span class="text-primary">best services</span> for Delivery Partners </h2>
            </div>
            <div class=" pb-5  col-lg-6">
                <p class="pt-4">Home shifting is the web-application to shift home from one location to other location.you just ragister yourself in web-application you want to shift your home so make booking and with the home shifting you will get verified driver and vehical in few easy steps.</p>
            </div>
        </div>

    </div>

</section>

<section id="service-2">
    <div class=" services-sub container mb-5 pb-5">
        <div class="row">
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:shield-check-outline"></iconify-icon>
                    <h5>Secured Payment</h5>                    
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:bookmark-opened-outline"></iconify-icon>
                    <h5>any class vehicle</h5>                 
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:user-circle-outline"></iconify-icon>
                    <h5>Vehical sharing options</h5>                  
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:call-chat-outline"></iconify-icon>
                    <h5>Help center & Support</h5>
                </div>
            </div>

        </div>
    </div>

</section>


<!-- pricing section start  -->
<!-- pricing section start  -->
<section id="pricing">
    <div class=" container  py-5 my-5">
        <h2 class=" text-center my-5">See our <span class="text-primary">pricing </span> </h2>

        <div class="d-flex justify-content-center">
            <label class="pt-2" id="monthly-label" style="display: none;">Monthly</label>
            <span class="form-check form-switch p-0">
                <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                    checked style="display: none;">
                <label class="pt-2" id="yearly-label" for="flexSwitchCheckChecked" style="display: none;">Yearly</label>
            </span>
        </div>

        <div class="row py-4">
            <div class="  col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-lable pt-5 ">
                    <div class="pt-3 ps-2">
                        <h3>Save by choosing our best plan</h3>
                        <p>Choose our best plan to save a lot.</p>
                    </div>

                    <iconify-icon class="pricing-lable-icon "
                        icon="fluent:vehicle-car-profile-ltr-20-regular"></iconify-icon>


                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-8">
                <div class=" pricing-detail py-5 text-center">
                    <div class="pricing-content">
                        <h5>Silver</h5>

                        
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} " style="height: 2rem; padding-bottom: 0.3rem;" alt="">10000</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ There are 20 fix trips</p>
                            <p>✓ Only can send 1BHK And 2BHK</p>
                            <p>✓ IF we Can not able to<br>
                                provide Fixed Trips then<br> 
                                provide package money with<br>
                                20% extra return and completed<br> 
                                trips in 75% go to partner<br>
                                and 25% is our margin.<br>
                            </p>
                            <p>✓ IF we give trips then all<br>
                                money can withdrew by partner<br>
                                after completing package<br>
                            </p>
                        </div>

                    </div>
                   
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Gold</h5>
                        
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} " style="height: 2rem; padding-bottom: 0.3rem;" alt="">20000</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ There are 25 fix trips</p>
                            <p>✓ Only can send 2BHK And 3BHK</p>
                            <p>✓ IF we Can not able to<br>
                                provide Fixed Trips then<br> 
                                provide package money with<br>
                                25% extra return and completed<br> 
                                trips in 80% go to partner<br>
                                and 20% is our margin.<br>
                            </p>
                            <p>✓ IF we give trips then all<br>
                                money can withdrew by partner<br>
                                after completing package<br>
                            </p>
                        </div>

                    </div>

                   
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Platinum</h5>
                        
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} " style="height: 2rem; padding-bottom: 0.3rem;" alt="">30000</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ There are 30 fix trips</p>
                            <p>✓ Only can send all type of Home</p>
                            <p>✓ IF we Can not able to<br>
                                provide Fixed Trips then<br> 
                                provide package money with<br>
                                30% extra return and completed<br> 
                                trips in 90% go to partner<br>
                                and 10% is our margin.<br>
                            </p>
                            <p>✓ IF we give trips then all<br>
                                money can withdrew by partner<br>
                                after completing package<br>
                            </p>
                        </div>

                    </div>

                   
                </div>
            </div>


        </div>


    </div>
</section>
    
    <!-- Footer Section Starts -->
    <section id="footer">
        <div class="container footer-container mt-5">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 my-5 py-5 ">

                <div class=" col-md-4 mt-5 mt-md-0 ">
                    <img src="{% static 'myapp/images/hm.png'%}" alt="image">
                    <p class="py-3"> Shift Your Home Anywhere,Anytime <br>in Ahmedabad</p>
                    <div class="d-flex align-items-center ">
                        <a href="#" target="_blank"><iconify-icon class="social-link-icon pe-4"
                                icon="mdi:facebook"></iconify-icon></a>
                        <a href="#" target="_blank"><iconify-icon class="social-link-icon pe-4"
                                icon="mdi:twitter"></iconify-icon></a>
                        <a href="#" target="_blank"><iconify-icon class="social-link-icon pe-4"
                                icon="mdi:instagram"></iconify-icon></a>
                        <a href="#" target="_blank"><iconify-icon class="social-link-icon pe-4"
                                icon="mdi:linkedin"></iconify-icon></a>
                        <a href="#" target="_blank"><iconify-icon class="social-link-icon pe-4"
                                icon="mdi:youtube"></iconify-icon></a>
                    </div>

                </div>

                <div class="col-md-7 offset-md-1 mt-5">
                    <ul class="footer-nav list-unstyled ">
                        <li class="nav-item me-2 mb-3">
                            <a class="nav-link px-4" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item me-2 mb-3">
                            <a class="nav-link px-4" href="{% url 'booking' %}">Booking</a>
                        </li>
                        <li class="nav-item me-2 mb-3">
                            <a class="nav-link px-4" href="#">About</a>
                        </li>
                        <li class="nav-item me-2 mb-3">
                            <a class="nav-link px-4" href="Delivery Partners.html#services">Services</a>
                        </li>
                        <li class="nav-item me-2 mb-3">
                            <a class="nav-link px-4" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>

            </footer>
        </div>



        <footer class="d-flex flex-wrap justify-content-between align-items-center border-top"></footer>

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 pt-4">
                <div class="col-md-6 d-flex align-items-center">
                    <p>© 2024 Home Shifting - All rights reserved</p>

                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <p class="">Home Shifting</p>
                </div>

            </footer>
        </div>
    </section>
    
    <!-- JavaScript-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>