{% include "myapp/header.html" %}
{% load static %}
    <!-- hero section start  -->
    <section id="hero" class=" position-relative overflow-hidden">
        <div class="pattern-overlay pattern-right position-absolute">
            <img src="{% static 'myapp/images/hero-pattern-right.png' %}" alt="pattern">
        </div>
        <div class="pattern-overlay pattern-left position-absolute">
            <img src="{% static 'myapp/images/hero-pattern-left.png' %}" alt="pattern">
        </div>
        <div class="hero-content container text-center">
            <div class="row">
                <div class="detail mb-4">
                    <h1 class="">My<span class="text-primary"> Boookings</span> </h1>
                    
                </div>
            </div>
        </div>
    </section>

    <html lang="en">
<head>
    <title>My Bookings</title>
</head>
<body>
<hr class="mt-0">
<div class="card shadow m-5" id="myorder">
    <div class="card-body">
        <div class="container-fluid">
            <h3 style="font-family:roman">My Bookings</h3>
            <div class="table-responsive">
                <table class="table table-striped" border="2" style="border: solid 1px black;">
                    <thead style="background-color: #222222; color:#F9F9F9;">
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>House-type</th>
                            <th>Move from</th>
                            <th>Move to</th>
                            <th>State</th>
                            <th>Zip code</th>
                            <th>Price</th>
                            <th>Order id</th>
                            <th>Payment id</th>
                            <th>Staus</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in user_bookings %}
                            <td>{{forloop.counter}}</td>
                            <td>{{i.bname}}</td>
                            <td>{{i.htype}}</td>
                            <td>{{i.movefrom}}</td>
                            <td>{{i.moveto}}</td>
                            <td>{{i.state}}</td>
                            <td>{{i.zipcode}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.razorpay_order_id}}</td>
                            <td>{{i.razorpay_payment_id}}</td>
                            <td><a href="{% url "utrack" pk=i.pk %}" class="btn btn-success" title="Track Status">CheckStatus</a></td>
                            <td><a href="{% url 'cancle' pk=i.pk %}" class="btn btn-danger" title="Track Status">Cancle</a></td>        
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
                 
        </div>
    </div>
</div>
</body>
</html>

{% include "myapp/footer.html" %}