{% include "myapp/header.html" %}
{% load static %}

    <section id="hero" class=" position-relative overflow-hidden">
        <div class="pattern-overlay pattern-right position-absolute">
            <img src="images/hero-pattern-right.png" alt="pattern">
        </div>
        <div class="pattern-overlay pattern-left position-absolute">
            <img src="images/hero-pattern-left.png" alt="pattern">
        </div>
        <div class="hero-content container text-center">
            <div class="row">
                <div class="detail mb-4">
                    <h1 class="">Booking <span class="text-primary">  </span> </h1>
                    <a href="index.html">Home / </a><span>Booking</span>
                </div>
            </div>
        </div>
    </section>
    
<!--booking from-->
    <section id="faq">

        <div class="container my-5 py-5 ">
            <h2 class=" text-center my-5">Booking <span class="text-primary"> Ride</span> </h2>

            
            <div class="accordion col-md-8 offset-md-2" id="accordionPanelsStayOpenExample">
                <form class="row g-3">
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Name</label>
                      <input type="Name" class="form-control" id="inputEmail4" placeholder="Name">
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Select House Type</label>
                       
                        <select class="form-select form-control p-3" id="vehicle" aria-label="Default select example"
                            style="background-image: none;">
                            <option selected>Select House Type</option>
                            <option value="1">BMW x3</option>
                            <option value="2">BMW M2</option>
                            <option value="3">Ford explorer</option>
                            <option value="4">Ferrari</option>
                            <option value="5">Mercedes-Benz</option>
                            <option value="6">Sports car</option>
                            <option value="7">Tesla</option>
                        </select>
                      </div>

                      <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Moving From</label>
                        <input type="text" class="form-control"  placeholder="Pick-up Location">
                      </div>
                      <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Moving To</label>
                        <input type="text" class="form-control"  placeholder="Drop Location">
                      </div>
                
                     <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">State</label>
                      <input type="text" class="form-control" placeholder="State" >
                    </div>
                    
                    <div class="col-md-12">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip" placeholder="zip code">
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="d-grid">

                      <button type="submit"  class="btn btn-primary  ">Book</button>
                    </div>
                  </form>
            </div>
            

        </div>
    </section>
{% include "myapp/footer.html" %}