{% include "myapp/header.html" %}
{% load static %}

<!-- hero section start  -->
<section id="hero" class=" position-relative overflow-hidden">
    <div class="pattern-overlay pattern-right position-absolute">
        <img src="{% static 'myapp/images/hero-pattern-right.png' %}" alt="pattern">
    </div>
    <div class="pattern-overlay pattern-left position-absolute">
        <img src="{% static 'myapp/images/hero-pattern-left.png' %}" alt="pattern">
    </div>
    <div class="hero-content container text-center">
        <div class="row">
            <div class="detail mb-4">
                <h1 class="">Find your <span class="text-primary"> Vehical</span></h1>
                <p class="hero-paragraph">We have many best Vehical collections.</p>
            </div>
        </div>
    </div>
</section>

<!-- rental section start  -->
<section id="rental" class="position-relative"  style="height: 600px;">
    <div class="container my-5 py-5">
        <h2 class=" text-center my-5">Types of <span class="text-primary"> Vehical </span> </h2>

        <div class="swiper-button-next rental-swiper-next  rental-arrow position-absolute"></div>
        <div class="swiper-button-prev rental-swiper-prev rental-arrow position-absolute"></div>
        <div class="swiper rental-swiper mb-5" >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <a href="car-single.html"><img src="{% static 'myapp/images/tata.svg' %}" class="card-img-top"
                                alt="..."></a>
                        <div class="card-body p-4">
                            <a href="car-single.html">
                                <h4 class="card-title">1 BHK</h4>
                            </a>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'booking' %}" class="btn btn-primary">BOOK now </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <a href="car-single.html"><img src="{% static 'myapp/images/tata.svg' %}" class="card-img-top"
                                alt="..."></a>
                        <div class="card-body p-4">
                            <a href="car-single.html">
                                <h4 class="card-title">2 BHK</h4>
                            </a>

                            <hr>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'booking' %}" class="btn btn-primary">BOOK now </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="padding-top: 1.7REM;">
                        <a href="car-single.html"><img src="{% static 'myapp/images/14ft.svg' %}" class="card-img-top"
                                alt="..."></a>
                        <div class="card-body p-4">
                            <a href="car-single.html">
                                <h4 class="card-title">3 / 4 BHK</h4>
                            </a>

                            <hr>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'booking' %}" class="btn btn-primary">BOOK now </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- pricing section start  -->
<section id="pricing">
    <div class=" container  py-5 my-5">
        <h2 class=" text-center my-5">See our <span class="text-primary">pricing </span> </h2>

        <div class="d-flex justify-content-center">
            <label class="pt-2" id="monthly-label" style="display: none;">Monthly</label>
            <span class="form-check form-switch p-0">
                <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                    style="display: none;">
                <label class="pt-2" id="yearly-label" for="flexSwitchCheckChecked" style="display: none;">Yearly</label>
            </span>
        </div>


        <div class="row py-4">
            <div class="   col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h4>1 BHK</h4>

                        <div class="content monthly pt-2">
                            <h3>29.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} "
                                    style="height: 2rem; padding-bottom: 0.3rem;" alt="">4000</h3>
                        </div>

                        <div class="pt-4" style="margin-top: 2rem;">
                            <p>✓ 6x7 fit Vehical will send</p>
                            <p>✓ After Booking 30 Minute <br>
                                Vehical Will be reach on the location</p>
                            <p>✓ Secure Payment </p>

                        </div>

                    </div>

                    <div class="pricing-button">
                        <a href="{% url 'booking' %}"><button class="btn btn-primary">Book now </button></a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h4>2 BHK</h4>

                        <div class="content monthly pt-2">
                            <h3>29.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} "
                                    style="height: 2rem; padding-bottom: 0.3rem;" alt="">7000</h3>
                        </div>

                        <div class="pt-4" style="margin-top: 2rem;">
                            <p>✓ 6x7 fit Vehical will send</p>
                            <p>✓ After Booking 30 Minute <br>
                                Vehical Will be reach on the location</p>
                            <p>✓ Secure Payment </p>

                        </div>

                    </div>

                    <div class="pricing-button">
                        <a href="{% url 'booking' %}"><button class="btn btn-primary">Book now </button></a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h4>3 BHK</h4>
                        <div class="content monthly pt-2">
                            <h3>$44.40</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} "
                                    style="height: 2rem; padding-bottom: 0.3rem;" alt="">9000</h3>
                        </div>

                        <div class="pt-4" style="margin-top: 2rem;">
                            <p>✓ 5.5 X 14 fit Vehical will send</p>
                            <p>✓ After Booking 30 Minute <br>
                                Vehical Will be reach on the location</p>
                            <p>✓ Secure Payment </p>

                        </div>

                    </div>

                    <div class="pricing-button">
                        <a href="{% url 'booking' %}"><button class="btn btn-primary">Book now </button></a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h4> 4 BHK</h4>
                        <div class="content monthly pt-2">
                            <h3>$70.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3><img src="{% static 'myapp/images/currency-rupee.svg' %} "
                                    style="height: 2rem; padding-bottom: 0.3rem;" alt="">15000</h3>
                        </div>

                        <div class="pt-4" style="margin-top: 2rem;">
                            <p>✓ 5.5 X 14 fit Vehical will send</p>
                            <p>✓ After Booking 30 Minute <br>
                                Vehical Will be reach on the location</p>
                            <p>✓ Secure Payment </p>

                        </div>

                    </div>

                    <div class="pricing-button">
                        <a href="{% url 'booking' %}"><button class="btn btn-primary">Book now </button></a>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>





<!-- call-to-action section start  -->
<section id="action" class="position-relative">

    <div class="pattern-overlay pattern-right position-absolute">
        <img src="{% static 'myapp/images/call-to-action-pattern.png' %}" alt="pattern">
    </div>

    <div class="container  py-5 my-5">
        <div class="row py-5 ">
            <div class=" col-10 col-sm-8 col-lg-6">
                <h2 class="">Let’s begin with <span class="text-primary">Home Shifting.</span> </h2>
            </div>
            <div class=" col-lg-6">
                <p>Shift Your Home From Anywhere Anytime in Ahmedabad.If You Face Some <br>Problem So Contect Us our
                    team will try to solve Your Problem As Soon As Possibal.</p>
                <a href="contact.html" class="btn btn-primary mt-2">Contact us </a>
            </div>
        </div>

    </div>

</section>
{% include "myapp/footer.html" %}